.button {
    font: inherit;
    border: 1px solid #969696;
    background: #61DBFB;
    color: #232323;
    padding: 0.25rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius:10px ;
  }
  
  .button:hover,
  .button:active {
    background: #43a0b8;

  }
  
  .button:focus {
    outline: none;
  }